@import "tailwindcss";
@layer theme, base, components, utilities;


@utility flex-nav{
  @apply flex justify-around items-center px-4 py-2;
}


@layer base{
  h1{
    @apply text-xl font-bold mb-4;
  }
  section{
    @apply max-w-2xl mx-auto border-b border-b-neutral-500 py-12
  }
}